In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [99]:
import seaborn as sns

In [100]:
data_df = pd.read_csv('train.csv', index_col = "Id")

In [101]:
data_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [102]:
data_df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [125]:
feature = ["MSSubClass" , "LotArea" , "YearBuilt" , "1stFlrSF" , "2ndFlrSF" ]

In [126]:
X = data_df[feature]

In [127]:
X.head()

    MSSubClass  LotArea  YearBuilt  1stFlrSF  2ndFlrSF
Id
1           60     8450       2003       856       854
2           20     9600       1976      1262         0
3           60    11250       2001       920       866
4           70     9550       1915       961       756
5           60    14260       2000      1145      1053

In [128]:
Y = data_df["SalePrice"]

In [129]:
Y

Id
1       208500
2       181500
3       223500
4       140000
5       250000
         ...
1456    175000
1457    210000
1458    266500
1459    142125
1460    147500
Name: SalePrice, Length: 1460, dtype: int64

In [130]:
from sklearn.compose import ColumnTransformer

In [131]:
from sklearn.model_selection import train_test_split

In [132]:
X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size = 0.3)

In [133]:
Y_test

Id
314     375000
562     170000
901     110000
773     107000
1219     80500
         ...
617     183200
645     370878
232     403000
1182    392500
929     236500
Name: SalePrice, Length: 438, dtype: int64

In [134]:
for i in X_test.columns :
    print(X_test[i].size)

438
438
438
438
438

In [135]:
from sklearn.tree import DecisionTreeRegressor

In [136]:
dt_model = DecisionTreeRegressor(random_state = 1)

In [137]:
X.info

<bound method DataFrame.info of       MSSubClass  LotArea  YearBuilt  1stFlrSF  2ndFlrSF
Id
1             60     8450       2003       856       854
2             20     9600       1976      1262         0
3             60    11250       2001       920       866
4             70     9550       1915       961       756
5             60    14260       2000      1145      1053
...          ...      ...        ...       ...       ...
1456          60     7917       1999       953       694
1457          20    13175       1978      2073         0
1458          70     9042       1941      1188      1152
1459          20     9717       1950      1078         0
1460          20     9937       1965      1256         0

[1460 rows x 5 columns]>

In [138]:
X

      MSSubClass  LotArea  YearBuilt  1stFlrSF  2ndFlrSF
Id
1             60     8450       2003       856       854
2             20     9600       1976      1262         0
3             60    11250       2001       920       866
4             70     9550       1915       961       756
5             60    14260       2000      1145      1053
...          ...      ...        ...       ...       ...
1456          60     7917       1999       953       694
1457          20    13175       1978      2073         0
1458          70     9042       1941      1188      1152
1459          20     9717       1950      1078         0
1460          20     9937       1965      1256         0

[1460 rows x 5 columns]

In [139]:
for col in X.columns :
    missing_data = X.isna().sum()
    print(missing_data[col] , " ", col)

0   MSSubClass
0   LotArea
0   YearBuilt
0   1stFlrSF
0   2ndFlrSF

# Xử lí mấy chỗ bị NaN1

In [140]:
# from sklearn.impute import SimpleImputer

In [119]:
# imputer = SimpleImputer( missing_values = np.nan , strategy = "mean" )

In [123]:
# imputer.fit(X)

SimpleImputer()

In [141]:
#X = imputer.transform(X)

In [142]:
"""for col in X.columns :
    missing_data = X.isna().sum()
    print(missing_data[col])"""

'for col in X.columns :\n    missing_data = X.isna().sum()\n    print(missing_data[col])'

In [143]:
X

      MSSubClass  LotArea  YearBuilt  1stFlrSF  2ndFlrSF
Id
1             60     8450       2003       856       854
2             20     9600       1976      1262         0
3             60    11250       2001       920       866
4             70     9550       1915       961       756
5             60    14260       2000      1145      1053
...          ...      ...        ...       ...       ...
1456          60     7917       1999       953       694
1457          20    13175       1978      2073         0
1458          70     9042       1941      1188      1152
1459          20     9717       1950      1078         0
1460          20     9937       1965      1256         0

[1460 rows x 5 columns]

In [144]:
from sklearn.tree import DecisionTreeRegressor

In [145]:
dt_model = DecisionTreeRegressor(random_state = 1)

In [146]:
dt_model.fit(X_train , Y_train)

DecisionTreeRegressor(random_state=1)

In [147]:
Y_pred = dt_model.predict(X_train.head())

In [148]:
Y_pred

array([147000., 250000., 139000., 201800., 170000.])

In [152]:
pd.DataFrame({"test" : Y_test.head() , "pred" : Y_pred})

        test      pred
Id
314   375000  147000.0
562   170000  250000.0
901   110000  139000.0
773   107000  201800.0
1219   80500  170000.0